body {
  width: 100%;
  background-image: url("./images/banner1.png");
  height: 100%;
}

.navbar-style {
  height: 60px;
  background: none;
  align-items: center;
  opacity: 0.8;
}

.navbar-title {
  justify-content: center;
}

.welcome-text {
  background: rgba(32, 32, 32, 0.1);
  width: 200px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 0px 100px;
  border-radius: 10px;
}

.learn-text {
  color: #ffffff;
  width: 400px;
  font-weight: 600;
  margin: 0px 0px 0px 100px;
}

.card {
  background-color: #3d3d3d;
  color: white;
  height: 100%;
  border-radius: 10px;
  width: 25%;
  float: left;
  margin: 50px 0px 10px 7%;
}

.card-font {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin: 100px 0px 0px 0px;
  height: 400px;
  width: 100%;
  background-color: #070707;
  color: white;
}

.footer-content {
  float: left;
  width: 25%;
}

a {
  color: white;
}

.footer-tags-privacy {
  margin-left: calc(73.6vw - 400px);
}

.footer-tags {
  margin-left: 20px;
}

.api {
  height: 250px;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
    float: left;
  }

  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .footer-content {
    float: left;
    width: 50%;
    margin-top: 20px;
  }

  a {
    font-size: 12px;
  }

  .footer {
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  .welcome-text {
    margin: 0px 0px 0px 20px;
  }

  .learn-text {
    margin: 0px 0px 0px 20px;
    width: 300px;
  }

  .card {
    width: 80%;
    float: left;
  }

  .footer-container {
    display: grid;
  }

  .footer {
    width: 100%;
  }

  .footer-tags-privacy {
    margin-left: 0px;
  }

  .footer-tags {
    grid-column: 1;
    margin-left: 0px;
  }
}
